
img {
  border-radius: 50%;
  width: 150px;
  height:150px;
}
  
h1,h2,h3,h4,h5,h6 {
  margin: 8px;
  margin-top: 20px;
}
  
h2,h5{
  text-align: center;
}
  
p {
  margin: 0;
}
  
.spacer {
  flex: 1;
}
.fa fa-circle{
  color: green;
}
.toolbars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.headers{
  display:flex ;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}


.headers button{
  height: 30px;
  width: 100px;
  margin-top: 25px;
  text-align: start;
}
  
.toolbars button {
  align-items: center;
  margin: 0 16px;
  height: 35px;
  width: 35px;
  color: white;
  background-color: red;
}
.left button{
  background-color: #c9c9c9;
}
.contents {
  display: flex;
  margin-left: 30px;
  margin-top: 70px;
  max-width: 100%;
  flex-direction: column;
  align-items: left;
  padding: 20px;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left: 50px;
  width: 250px;
  text-align: center;
  background-color: rgb(240, 240, 240);
}
    
.cards:hover {
  box-shadow: 0 15px 18px 0 rgba(6, 243, 57, 0.2);
}

.checkbox-input{
  float: inline-end;
  position: relative;
  margin-left: 220px;
}

.containers {
  margin-top: 10px;
  display: flex;
  max-width: 100%;
}
  
.submits button{
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: green;
  color: white;
  height: 40px;
  width: 75px;
}
  
.checkbox-input{
  height: 20px;
  width: 20px;
}
.coders{
  align-items: center;
  align-self: center;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.modal-body li{
  font-size: 20px;
  margin: 15px;
}
.modal-footer{
  align-self: center;
}

.modal-header{
  text-align: center;
  align-items: center;
  align-self: center;
}

.modal-button{
  align-items: center;
  color: green;
  color: white;
  align-self: center;
  text-align: center;
  padding: 5px;
}

input[type="checkbox"]{
  vertical-align:middle;
}
 .terms{
  align-items: center;
  align-self: center;
  text-align: center;
 }
 
 .b{
  font-size: 15px;
  font-family: Arial Rounded MT Bold;
 }