<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="toolbars">
  <div class="left"><button><i class="fa fa-arrow-left"></i></button></div>
    <h1>Online Voting System</h1>
    <div class="spacer"></div>
    <p>Name</p>
      <button ><i id="signout" class="fa fa-sign-out"></i></button>
</div>

<div class="contents" >
<!--President-->
  <div class="headers">
    <h1> <i class="fa fa-circle" style="color: lightgreen;"></i>  President</h1> 
    <div class="spacer"></div>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-align: center;"><i class="fa fa-bullhorn"></i></button>
    <button><i class="fa fa-filter"></i>Filter</button>
  </div>
  <h1> <hr> </h1>
  
  <div class="containers">  
    <div class="cards">
      <label>   
        <img src="assets/img/p1.jpg" alt="Avatar">     
        <h2><b>Name</b></h2>
        <h5>Department</h5>
        <hr>
        <p>Position</p>
        <p>Partylist</p>
        <input type="radio" name="president" id="card1" class="checkbox-input">
      </label>     
    </div>
    <div class="cards">
      <label>   
        <img src="assets/img/p2.jpg" alt="Avatar">     
        <h2><b>Name</b></h2>
        <h5>Department</h5>
        <hr>
        <p>Position</p>
        <p>Partylist</p>
        <input type="radio" name="president" id="card1" class="checkbox-input">
      </label>     
    </div>
    <div class="cards">
      <label>   
        <img src="assets/img/p3.jpg" alt="Avatar">     
        <h2><b>Name</b></h2>
        <h5>Department</h5>
        <hr>
        <p>Position</p>
        <p>Partylist</p>
        <input type="radio" name="president" id="card1" class="checkbox-input">
      </label>     
    </div>
    <div class="cards">
      <label>   
        <img src="assets/img/p4.jpg" alt="Avatar">     
        <h2><b>Name</b></h2>
        <h5>Department</h5>
        <hr>
        <p>Position</p>
        <p>Partylist</p>
        <input type="radio" name="president" id="card1" class="checkbox-input">
      </label>     
    </div>
  </div>

<!--VP-->

  <h1><i class="fa fa-circle" style="color: lightgreen;"></i> Vice President <hr></h1> 
  <div class="containers">    
    <div class="cards">
      <label>
          <img src="assets/img/p1.jpg" alt="Avatar">
          <h2><b>Name</b></h2>
          <h5>Department</h5>
          <hr>
          <p>Position</p>
          <p>Partylist</p>
          <input type="radio" name="vpres" id="card2" class="checkbox-input">
      </label>
    </div>
    <div class="cards">
      <label>
        <img src="assets/img/p2.jpg" alt="Avatar" >
        <h2><b>Name</b></h2>
        <h5>Department</h5>
        <hr>
        <p>Position</p>
        <p>Partylist</p>
        <input type="radio" name="vpres" id="card2" class="checkbox-input">
      </label>
    </div>
    <div class="cards">
      <label>
        <img src="assets/img/p3.jpg" alt="Avatar" >
        <h2><b>Name</b></h2>
        <h5>Department</h5>
        <hr>
        <p>Position</p>
        <p>Partylist</p>
        <input type="radio" name="vpres" id="card2" class="checkbox-input">
      </label>
    </div>
    <div class="cards">
      <label>
        <img src="assets/img/p4.jpg" alt="Avatar" >
        <h2><b>Name</b></h2>
        <h5>Department</h5>
        <hr>
        <p>Position</p>
        <p>Partylist</p>
        <input type="radio" name="vpres" id="card2" class="checkbox-input">
      </label>
    </div>
  </div>

<!--Secretary-->

  <h1><i class="fa fa-circle" style="color: lightgreen;"></i> Secretary <hr> </h1> 
  <div class="containers">    
    <div class="cards">
      <label>
          <img src="assets/img/p1.jpg" alt="Avatar">
          <h2><b>Name</b></h2>
          <h5>Department</h5>
          <hr>
          <p>Position</p>
          <p>Partylist</p>
          <input type="radio" name="secretary" id="card3" class="checkbox-input">
      </label>
    </div>
    <div class="cards">
      <label>
        <img src="assets/img/p2.jpg" alt="Avatar" >
        <h2><b>Name</b></h2>
        <h5>Department</h5>
        <hr>
        <p>Position</p>
        <p>Partylist</p>
        <input type="radio" name="secretary" id="card3" class="checkbox-input">
      </label>
    </div>
    <div class="cards">
      <label>
        <img src="assets/img/p3.jpg" alt="Avatar" >
        <h2><b>Name</b></h2>
        <h5>Department</h5>
        <hr>
        <p>Position</p>
        <p>Partylist</p>
        <input type="radio" name="secretary" id="card3" class="checkbox-input">
      </label>
    </div>
    <div class="cards">
      <label>
        <img src="assets/img/p4.jpg" alt="Avatar" >
        <h2><b>Name</b></h2>
        <h5>Department</h5>
        <hr>
        <p>Position</p>
        <p>Partylist</p>
        <input type="radio" name="secretary" id="card3" class="checkbox-input">
      </label>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel"> <i class="fa fa-bullhorn" style="color: green;"></i> Special Reminders</h1>
      </div>


      <div class="modal-body">
        <ul>
          <li>During the election, you are not allowed to post your receipt on any social media platforms</li>
          <li>Carefully read the name of the candidates before you click the vote button</li>
          <li>You can only generate the ballot receipt after you finish voting</li>
          <li>If you encounter problems in voting system message the admin</li>
          <li>Vote Wisely</li>
        </ul>
        <input type="text" class="coders" id="code" name="code" placeholder="Insert aunthentication code here.">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>


<div class="submit" style="float: right;">
  <button type="button" data-bs-toggle="modal" data-bs-target="#Modal" class="btn btn-success"><i class="fa fa-check-square"></i> SUBMIT</button>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <h1 class="modal-title" id="ModalLabel"> BALLOT PREVIEW </h1>
   
      </div>
      <div class="modal-body">

        
      <div class="modal-footer"></div>
      <div class="terms">
    <input id="checkid2" type="checkbox" value="test" />
        I have read and accept the <a routerLink="/Terms and Condition">Terms and Condition.</a>
      </div>
        <div class="modal-button"> 
        <button type="button"  class="btn btn-success" data-bs-dismiss="modal">DOWNLOAD BALLOT <div class="b">and confirm vote</div>
        </button>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>
